.featured-resource {

  &.image-grid {

    .resource-container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 50% 50%;
      margin-bottom: 20px;

      .item {
        position: relative;

        img {
          width: 100%;
          height: auto;
        }
        .featured-resource-title-banner {
          position: absolute;
          top: 40px;
          width: 100%;
          background-color: $highlight-color;
          margin-left: -10px;

          .featured-resource-title {
            padding: 10px 20px 25px;
            line-height: 1.2em;
            color: white;

            .subtitle {
              margin-bottom: 10px;

            }
            a.subtitle-link {
              color: $secondary-color;
              text-decoration: underline;
            }
          }
        }

        .resource-title-banner {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(49, 43, 40, .8);

          .resource-title {
            padding: 10px;
            padding-bottom: 10px;
            line-height: 1.2em;
            text-align: center;
            color: white;
          }
        }

        .resource-type {
          display: none;
        }

        .teaser-hover {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.2);
          color: #fff;
          visibility: hidden;
          opacity: 0;
          z-index: 1;
          cursor: pointer;

          .teaser-hover-text {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40%;
            padding: 10px 5px;
            border: 2px solid #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

      }

      .item:hover .teaser-hover {
        visibility: visible;
        opacity: 1;
      }

      .item-1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        display: flex;
      }

      .item-title, .item-6 {
        display: none;
      }
    }
  }

  &.image-grid-gutter {
    .resource-container {
      grid-column-gap: 7px;
      grid-row-gap: 7px;
    }
  }
}
