.featured-resource {

  &.sidebar-horizontal {

    .resource-container {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 40px auto auto auto auto;
      margin-bottom: 30px;

     .item {
       position: relative;

        .featured-resource-title-banner {
          position: absolute;
          top: 40px;
          width: 100%;
          background-color: #c11da8;
          margin-left: -10px;

          .featured-resource-title {
            padding: 10px 20px 25px;
            line-height: 1.2em;
            color: white;

            .subtitle {
              margin-bottom: 10px;

            }
            a.subtitle-link {
              color: #bed600;
              text-decoration: underline;
            }
          }
        }

        .teaser-hover {
          display: none;
        }
      }
      .item-1  {
        grid-column: 1 / span 1;
        grid-row: 1 / span 5;
        display: flex;

        img {
          width: 100%;
        }
      }

      .item-title {
        grid-column: 2 / span 1;
        background-color: #312b28;

        h3 {
          color: white;
          padding-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 16px;
          border-bottom: 2px solid #fff;
        }
      }

      .item-2, .item-3, .item-4 {
        border-bottom: 2px solid rgba(255, 255, 255, .3)
      }

      .item-2, .item-3, .item-4, .item-5  {
        padding: 20px;
        grid-column: 2 / span 1;
        background-color: #312b28;

        img {
          float: left;
          width: 40%;
          margin-right: 10px;
        }

        .resource-title {
          padding: 0 10px 10px;
          color: #bed600;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.2;
        }

        .resource-type-title {
          padding: 5px 10px;
          background-color: #c11da8;
          color: white;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .item-6 {display: none; }
    }
  }
}
