.sidebar .resource-container {
  display: grid;

  @media (min-width: $medium-screen) {
    grid-template-columns: 70% 30%;
    grid-template-rows: 40px auto auto auto auto;
  }

  .item-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    @media (min-width: $medium-screen) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 4;
    }

    img {
      width: 100%;
      object-fit: cover;
      display: block;
      height: 100%;
    }
  }

  .item-2,
  .item-3,
  .item-4 {
    @media (min-width: $medium-screen) {
      grid-column: 2 / span 1;
    }
  }

  .item {
    position: relative;

    .featured-resource-title-banner {
      position: absolute;
      top: 40px;
      width: 100%;
      background-color: $highlight-color;
      margin-left: -10px;

      .featured-resource-title {
        color: $white;
        line-height: 1.2em;
        padding: 10px 20px 25px;

        .subtitle {
          margin-bottom: 10px;
        }

        a.subtitle-link {
          color: $secondary-color;
          text-decoration: underline;
        }
      }
    }

    .teaser-hover {
      display: none;
    }
  }

  .item-title {
    background-color: $background-color;
    grid-row: 2 / span 1;

    @media (min-width: $medium-screen) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    h3 {
      border-bottom: 2px solid $white;
      color: $white;
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 10px;
    }
  }

  .item-2,
  .item-3 {
    border-bottom: 2px solid rgba(255, 255, 255, .3)
  }

  .item-2,
  .item-3,
  .item-4 {
    background-color: $background-color;
    padding: 20px;
    text-align: center;

    img {
      width: 40%;
    }

    .resource-title {
      padding: 10px;
      color: $secondary-color;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2;
    }

    .resource-type-title {
      background-color: $highlight-color;
      color: $white;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }

  .item-5,
  .item-6 {
    display: none;
  }
}
