<div class="resource-container">
  <div class="item item-title">
    <h3 class="resource-title">Recent Items</h3>
  </div>
  <div class="item item-1">
    <img src="https://placeimg.com/690/690/any">
    <div class="featured-resource-title-banner">
      <div class="featured-resource-title">
        <h2>Gizra. We Build Websites.</h2>
        <div class="subtitle">
          Everybody tells us that people won’t read this.
          They will enter the site, see mostly text, and move on.
        </div>
        <a class="subtitle-link" href="">View All Stories</a>
      </div>
    </div>
  </div>
  <div class="item item-2">
    <img src="https://placeimg.com/280/280/any">
    <div class="resource-title-banner">
      <div class="resource-title">
        Your business is in deep mud. Not just metaphorically speaking.
      </div>
    </div>
    <div class="resource-type">
      <span class="resource-type-title">Journal Entry</span>
    </div>
    <div class="teaser-hover">
      <div class="teaser-hover-text">Read Now</div>
    </div>
  </div>
  <div class="item item-3">
    <img src="https://placeimg.com/280/280/animals">
    <div class="resource-title-banner">
      <div class="resource-title">
        They start the countdown. Their tone is very confident.
      </div>
    </div>
    <div class="resource-type">
      <span class="resource-type-title">Article</span>
    </div>
    <div class="teaser-hover">
      <div class="teaser-hover-text">Read Now</div>
    </div>
  </div>
  <div class="item item-4">
    <img src="https://placeimg.com/280/280/arch">
    <div class="resource-title-banner">
      <div class="resource-title">
        The Big Boss is probably the only one who understands.
      </div>
    </div>
    <div class="resource-type">
      <span class="resource-type-title">Research Study</span>
    </div>
    <div class="teaser-hover">
      <div class="teaser-hover-text">Read Now</div>
    </div>
  </div>
  <div class="item item-5">
    <img src="https://placeimg.com/280/280/people">
    <div class="resource-title-banner">
      <div class="resource-title">
        “Wait,” you say out loud — or so you think.
      </div>
    </div>
    <div class="resource-type">
      <span class="resource-type-title">Blog Post</span>
    </div>
    <div class="teaser-hover">
      <div class="teaser-hover-text">Read Now</div>
    </div>
  </div>
  <div class="item item-6">
    <img src="https://placeimg.com/280/280/tech">
    <div class="resource-title-banner">
      <div class="resource-title">
        Let it be said to their credit that this is exactly what they had
        told you.
      </div>
    </div>
    <div class="resource-type">
      <span class="resource-type-title">Research Study</span>
    </div>
    <div class="teaser-hover">
      <div class="teaser-hover-text">Read Now</div>
    </div>
  </div>
</div>
